[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ISAR"]
	path = ISAR
	url = https://github.com/rtelmore/isar
[submodule "NFLSimulatoR"]
	path = NFLSimulatoR
	url = https://github.com/rtelmore/nflsimulator
